body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: #000;
  font-family: "Gill Sans", sans-serif;
}

table th,
table td {
  text-align: left;
  padding: 15px 0;
}

