@charset "UTF-8";

/*--------------------
 吹き出しを作る
--------------------*/

.chatbody {
  margin: 10px 10px;
}

.balloon {
  margin-bottom: 2em;
  position: relative;
}

.balloon:before,
.balloon:after {
  clear: both;
  content: "";
  display: block;
}

.balloon figure {
  width: 60px;
  height: 60px;
}

.balloon-image-left {
  float: left;
  margin-right: 20px;
}

.balloon-image-right {
  float: right;
  margin-left: 20px;
}

.balloon figure img {
  width: 100%;
  height: 100%;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin: 0;
}

.balloon-image-description {
  padding: 5px 0 0;
  font-size: 10px;
  text-align: center;
}

.balloon-text-right,
.balloon-text-left {
  position: relative;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  max-width: calc(100% - 120px);
  display: inline-block;
}

.balloon-text-right {
  border-color: #aaa;
}

/* 右からの吹き出しテキスト */

.balloon-text-left {
  background-color: #00da00;
}

.balloon-text-left:after {
  position: absolute;
  content: "";
  border: 10px solid transparent;
  border-left: 10px solid #00da00;
  top: 15px;
  right: -19px;
}

.balloon-text-right {
  float: left;
}

.balloon-text-left {
  float: right;
}

.balloon p {
  margin: 0 0 20px;
}

.balloon p:last-child {
  margin-bottom: 0;
}

/* 三角部分 */

.balloon-text-right:before {
  position: absolute;
  content: "";
  border: 10px solid transparent;
  border-right: 10px solid #aaa;
  top: 15px;
  left: -20px;
}

.balloon-text-right:after {
  position: absolute;
  content: "";
  border: 10px solid transparent;
  border-right: 10px solid #fff;
  top: 15px;
  left: -19px;
}

.balloon-text-left:before {
  position: absolute;
  content: "";
  border: 10px solid transparent;
  border-left: 10px solid #aaa;
  top: 15px;
  right: -20px;
}

.balloon-text-left:after {
  position: absolute;
  content: "";
  border: 10px solid transparent;
  border-left: 10px solid #fff;
  top: 15px;
  right: -19px;
}

/* 考え毎 */

.think .balloon-text-right,
.think .balloon-text-left {
  border-radius: 30px;
}

.think .balloon-text-right:before {
  border: 1px solid #aaa;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  top: 15px;
  left: -12px;
}

.think .balloon-text-right:after {
  border: 1px solid #aaa;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  top: 20px;
  left: -19px;
}

.think .balloon-text-left:before {
  border: 1px solid #aaa;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  top: 15px;
  right: -12px;
}

.think .balloon-text-left:after {
  border: 1px solid #aaa;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  top: 20px;
  right: -19px;
}

